---
import isotipo from '../../assets/images/isotipo.svg';
import RedesSociales from '../../components/redes/Socials.astro';
---

<section class="c-logotipo">
  <a href="http://www.mariocampbell.com.ar/" target="_blank">
    <img class="c-logotipo__iso" src={isotipo} alt="mcmpbll" />
  </a>
  <RedesSociales />
  <h1 class="c-logotipo__logo">Mario Campbell</h1>
</section>
