---
import Layout from '../layouts/Layout.astro';
import MarioCampbell from '../components/logotipo/MarioLogo.astro';
---

<Layout title="Mario Campbell">
  <header class="c-header">
    <MarioCampbell />
    <p>Proyecto <a class="c-header__link" href="https://astro.build/" target="_blank">Astro</a> base</p>
  </header>
</Layout>
<script src="../js/main.ts"></script>
