/*<!-- ------------------------------------------ -->*/
/*<!-- FONTS -->*/
/*<!-- ------------------------------------------ -->*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

$font-logotipo: 'Open Sans', sans-serif;
$font-headers: 'Roboto', sans-serif;
$font-body: 'Lato', sans-serif;
/*<!-- --------------- END FONTS ---------------- -->*/
/*<!-- ------------------------------------------ -->*/

/*<!-- ------------------------------------------ -->*/
/*<!-- COLORS -->*/
/*<!-- ------------------------------------------ -->*/
// COLORS
$color-white: #ffffff;
$color-black: #000000;

// COLOR PRIMARY
$color-primary-100: #ebf4ff;
$color-primary-200: #b5d1f2;
$color-primary-300: #95bce6;
$color-primary-400: #629dd9;
$color-primary-500: #3182ce;
$color-primary-600: #356599;
$color-primary-700: #2a4365;
$color-primary-800: #273747;
$color-primary-900: #1a2533;

// COLOR GRAY
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
/*<!-- --------------- END COLORS --------------- -->*/
/*<!-- ------------------------------------------ -->*/
