<section class="c-redes">
  <a
    class="c-redes__item"
    href="https://www.linkedin.com/in/mario-campbell-18845924/"
    target="_blank"
    alt="linkedin Mario Campbell"
  >
    <i class="fa-brands fa-linkedin-in"></i>
  </a>
  <a class="c-redes__item" href="https://www.behance.net/mariocampbell" target="_blank" alt="behance Mario Campbell">
    <i class="fa-brands fa-behance"></i>
  </a>
  <a class="c-redes__item" href="https://codepen.io/mariocampbell" target="_blank" alt="linkedin Mario Campbell">
    <i class="fa-brands fa-codepen"></i>
  </a>
  <a class="c-redes__item" href="https://github.com/mariocampbell" target="_blank" alt="linkedin Mario Campbell">
    <i class="fa-brands fa-github-alt"></i>
  </a>
</section>
